
hyperparameters:
  # Adam Optimizer
  learning_rate: 0.00025
  b1: 0.9
  b2: 0.99
  gp_lambda: 10
  alpha: 50.0
  n_critic: 5
  max_epochs: 50
  noise_injection: True
  batch_size: 4

tracking:
  # set COMET_API_KEY environment variable for online mode
  project_name: climatex
  workspace: nannau-uvic
  save_dir: /home/kdaust/climx_output/
  experiment_name: test_stochastic_kiri
  log_model: True
  log_every_n_steps: 100
  validation_log_every_n_steps: 500

hardware:
  num_workers: 0
  precision: 32-true
  accelerator: "gpu"
  devices: -1
  strategy: "auto" #ddp #"ddp_find_unused_parameters_true"

invariant:
  _target_: "ClimatExML.mlclasses.InvariantData"
  lr_shape:
    - 6 # lr covariates
    - 32 # x size
    - 32 # y size
  hr_shape:
    - 1 # hr covariates (predictands)
    - 256 # x size
    - 256 # y size
  hr_invariant_shape:
    - 1 # hr invariant covariates
    - 256
    - 256
  hr_invariant_paths: 
    - ${oc.env:DATA_DIR}/topography256/hr_topography_norm.pt
  lr_invariant_paths:
    - ${oc.env:DATA_DIR}/topography256/lr_topography_norm.pt

train_data:
  _target_: "ClimatExML.mlclasses.InputVariables"
  lr_paths:
    - ${oc.env:DATA_DIR}/train/tas/lr/*.pt
    - ${oc.env:DATA_DIR}/train/uas/lr/*.pt
    - ${oc.env:DATA_DIR}/train/vas/lr/*.pt
    - ${oc.env:DATA_DIR}/train/ps/lr/*.pt
    - ${oc.env:DATA_DIR}/train/cape/lr/*.pt
  hr_paths:
    - ${oc.env:DATA_DIR}/train/tas/hr/*.pt

validation_data:
  _target_: "ClimatExML.mlclasses.InputVariables"
  lr_paths:
    - ${oc.env:DATA_DIR}/validation/tas/lr/*.pt
    - ${oc.env:DATA_DIR}/validation/uas/lr/*.pt
    - ${oc.env:DATA_DIR}/validation/vas/lr/*.pt
    - ${oc.env:DATA_DIR}/validation/ps/lr/*.pt
    - ${oc.env:DATA_DIR}/validation/cape/lr/*.pt
  hr_paths:
    - ${oc.env:DATA_DIR}/validation/tas/hr/*.pt
